<div ng-include="'navbar.html'"></div>

<div class="container">
  <!-- Alerts -->
  <div class="alert alert-danger" ng-show="showAlertError"> {{ showAlertError }}</div>
  <div class="alert alert-success" ng-show="showAlertSuccess">{{showAlertSuccess}}</div>
</div>

<div class="container" ng-show="showSearch === true">
  <!-- Min and Max Price Selection -->
  <div class="col-sm-12 price-form">
      
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon">Min Price</span>
        <select name="minPrice" id="minPrice" ng-model="priceInfo.min" class="form-control">
          <option value="0">Under 50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="300">300</option>
          <option value="400">400</option>
          <option value="500">500</option>
          <option value="600">600</option>
          <option value="700">700</option>
          <option value="800">800</option>
          <option value="900">900</option>
          <option value="1000">1000</option>
        </select>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon">Max Price</span>
        <select name="maxPrice" id="maxPrice" ng-model="priceInfo.max" class="form-control">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="300">300</option>
          <option value="400">400</option>
          <option value="500">500</option>
          <option value="600">600</option>
          <option value="700">700</option>
          <option value="800">800</option>
          <option value="900">900</option>
          <option value="10000000000000000000000000000000000000">Above 1000</option>
        </select>
      </div>
    </div>        
  </div>
</div>

<!-- Real Estate Listings -->
<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in items | itemsFilter:priceInfo | orderBy: '-_id'">
    <div class="thumbnail">
    <img ng-src="img/{{item.image}}.jpg" alt="" >
      <div class="caption">
        <!-- Conditionally hiden -->
        <div ng-hide="showDetails === true">
          <h3><i class="glyphicon glyphicon-tag"></i> {{item.price | currency}}</h3>
          <h4> {{item.title}} 
            <span class="label label-primary label-sm">{{item.type}}</span>
          </h4>
        </div>

        <button 
          class="btn btn-sm btn-success"
          ng-hide="showDetails === true"
          ng-click="showDetails = !showDetails">
          Details
        </button>

        <!-- Button for edit -->
        <button
          class="btn btn-sm btn-warning"
          ng-hide="showDetails === true"
          ng-click="editItem(item)"> Not Interested
        </button>

        <div class="details" ng-show="showDetails === true">
          <p>{{item.description}}</p>
        </div>

      </div>
    </div>
  </div>
</div>